@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #034159, #03658b);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #022635;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #038C3E
}

h2 {
    color: #025951
}

p {
    text-align: justify;
}